/* imagenes del inicio*/
.lanzamiento{
    
    .nl{
        padding: 3rem;
        border: 1px solid black;
        border-radius: 3%;
        h3{
            font-size: 3rem;
        }
        .img-nl{
            width: 60rem;
            border-radius: 5%;
        }
    }
    .reseña{
        padding: 3rem;
        border: 1px solid black;
        border-radius: 3%;
        height: 70rem;
        h3{
            font-size: 3rem;
        }
        h4{
            font-size: 2.5rem;
        }
    }
    
    
}
